@charset "UTF-8";
.form__checkbox {
  display: flex;
  align-items: center;
}
.form__checkbox_input {
  position: absolute;
  opacity: 0;
}
.form__checkbox_input:hover + .form__checkbox_label .form__checkbox_button {
  background: transparent;
}
.form__checkbox_input:checked + .form__checkbox_label .form__checkbox_button {
  background: transparent;
}
.form__checkbox_input:checked + .form__checkbox_label .form__checkbox_button:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 8px;
  background: #172c49;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #172c49, 4px 0 0 #172c49, 4px -2px 0 #172c49, 4px -4px 0 #172c49, 4px -6px 0 #172c49;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__checkbox_button {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #000000;
  position: relative;
  border-radius: 4px;
}
.form__checkbox_text {
  font-size: 1.6rem;
}
.form__checkbox_label {
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
}
.form__checkbox_button {
  margin-right: 1rem;
}

.dropdown {
  max-width: inherit;
  position: relative;
}
.dropdown .arrow {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Component_25_1' width='12.937' height='8.433' data-name='Component 25 – 1' viewBox='0 0 12.937 8.433'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%23172c49%7D %3C/style%3E%3C/defs%3E%3Cg id='Group_29' data-name='Group 29'%3E%3Cpath id='Path_47' d='M85.607 29.576l5.725-6.945a.409.409 0 0 1 .631 0l5.725 6.945a.409.409 0 0 1-.314.669H85.921a.408.408 0 0 1-.314-.669z' class='cls-1' data-name='Path 47' transform='translate(-85.176 -22.158)'/%3E%3Cg id='Group_28' data-name='Group 28'%3E%3Cpath id='Path_48' d='M82.651 26.721c.141-.169.281-.339.419-.511.35-.426.7-.849 1.052-1.275l1.362-1.652q.689-.833 1.376-1.668l1.068-1.3c.149-.181.294-.366.448-.542.007-.009.058-.056.031-.036s.069-.029.025-.013c-.029.011.087 0 .009 0h.022s.051.016.013 0 .013.007.011.007.045.031.013.007.009.009.011.013l.02.022.033.04c.076.091.152.183.225.274l.936 1.137 1.318 1.6 1.4 1.7 1.164 1.411c.205.248.408.5.613.745.009.011.02.027.031.038s-.056-.074-.027-.033a.3.3 0 0 0 .022.036.114.114 0 1 0-.007-.02.325.325 0 0 0 .011.038c.016.051.009-.042 0 .011 0 .009-.009.049 0 0s0 .011-.007.016c-.02.029.009-.018.011-.022l-.018.033-.02.031c.007-.011.018-.045.013-.02 0 .007-.022.02-.027.027.009-.009.029-.038.018-.016 0 .007-.027.013-.033.018.02-.013.045-.018.007-.007-.056.018.042 0-.02 0H82.727h.004c-.007 0-.036 0-.038-.009s0 0 .02.011c-.007 0-.029-.011-.033-.018-.011-.022.009.007.018.016 0-.007-.024-.018-.027-.027 0-.024.007.009.013.02l-.02-.031-.018-.033s.031.051.011.022c-.007-.009 0-.025-.009-.036s.007.067 0 .027a.219.219 0 0 0 0-.038c0 .007-.018.06 0 .027 0-.013.029-.08.011-.047s.033-.045.04-.054a.334.334 0 0 0-.12-.457.342.342 0 0 0-.457.12.734.734 0 0 0-.009.845.763.763 0 0 0 .618.326H93.684a2.352 2.352 0 0 0 .729-.038.754.754 0 0 0 .508-.722.8.8 0 0 0-.2-.486 15.696 15.696 0 0 0-.172-.207c-.294-.357-.586-.713-.881-1.068l-1.328-1.598-1.434-1.739-1.206-1.467q-.328-.4-.655-.794a.752.752 0 0 0-.867-.234.9.9 0 0 0-.355.29l-.749.91-1.26 1.527-1.448 1.752-1.282 1.556q-.4.482-.794.963l-.111.134a.345.345 0 0 0 0 .473.341.341 0 0 0 .472-.005z' class='cls-1' data-name='Path 48' transform='translate(-81.985 -19.067)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: 0 100%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s;
}
.dropdown__value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-transform: capitalize;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  font-weight: 100;
  font-size: small;
}
.dropdown__value span {
  font-weight: 400;
  color: inherit;
  text-transform: capitalize;
}
.dropdown__list {
  display: none;
  position: absolute;
  top: 106%;
  left: 0;
  right: 0;
  background: #ffffff;
  transition: all 0.5s;
  border-radius: 5px;
  max-height: 20rem;
  overflow: auto;
  z-index: 2;
  text-align: start;
  border: 2px solid #bdbcbc;
}
.dropdown__list input {
  display: none;
}
.dropdown__list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.dropdown__list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #bdbcbc;
}
.dropdown__list::-webkit-scrollbar-track {
  width: 6px;
  background: transparent;
}

.open + .dropdown__list {
  display: block;
}

.dropdown__value.open .arrow {
  transform: rotate(0deg);
}


#foundUs-response{
  padding: .5rem;
}




.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 200px;
}

.selectdiv:after {
    content: '\f0d7';
    font: normal normal normal 1.3rem/1 FontAwesome;
    color: #000000;
    right: 11px;
    top: -3px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  height: 50px;
  float: right;
  padding: 0px 24px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000000;
  -ms-word-break: normal;
  word-break: normal;
}